.btn.btn-primary {
    background-color: #ccc; /* Color de fondo inicial */
    color: #020202;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave */
}

.btn.btn-primary:hover {
    background-color: #555; 
}
footer {
    background-color: rgb(56, 56, 56);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

#nombrePag{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    max-width: 80%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#inicio{
    color: black;
}

#modelos{
    color: black;
}

#caracteristicas{
    color: black;
}

.btnMostrar{
    background: black;
}

#volver{
    background: black;
    color: white;   
}

#detalleAuto{
    display: flex;
    padding-top: 3rem;
    background: rgb(36, 35, 35);
    color: white;
}

#ImagePage {
    border-radius: 10px;
    border-style: dotted;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 1;
    padding-top: 0px;
    overflow: hidden;
}

.row{
    margin: 0%;
    padding: 0%;
}

 #tittlePage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
 }

 #colorPage{
    display: flex;
   
    align-items: center;
 }

 #descripcionPage{
    display: flex;

 }

#añadirCarrito{
    display: flex;
    padding-top: 3rem;
}

#modelo{
    display: flex;
    padding-top: 1rem;
}

.anadir{
    display: flex;
    margin-right: 30rem;
    padding-left: 30rem;
    padding-right: 30rem;
    text-transform: uppercase;
}

#volverCarrito{
    display: flex;
    background: black;
    color: white;
    text-decoration: none;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 30rem;
    margin-right: 94%;
    padding-right: 16%;
    padding-left: 8%;
    text-transform: uppercase;
    

}

#ImagePage{
    display: flex;
    padding-top: 3rem;
    margin-left: 5rem;
    background: none;
}